bin/
obj/
*.exe
*.dll
*.pdb
*.log
*.cache
*.csproj.user
.idea/
*.sln.iml
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.pidb
*.ilk
*.log
*.sdf
*.swo
*.swn
.vscode/
*.nupkg
*.snupkg
*.nuget/
packages/
project.lock.json
project.assets.json
Generated/
GeneratedFiles/
.DS_Store
Thumbs.db
desktop.ini
_ReSharper.Caches/
*.dotnetTools/
*.dotnet-local/